h2 {
  font-weight: 600 !important;
}

.form-label {
  font-weight: 600 !important;
}

.form-control {
  border-radius: 8px !important;
}

.badge {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.form-select {
  border-radius: 8px !important;
}

.section-label-required {
  color: #b72530;
  font-weight: 700;
}

.section-title {
  margin-top: 12px;
  margin-bottom: 16px;
}

.submit-button {
  margin-top: 16px;
}

.custom-header th {
  background-color: #fff !important;
  color: #19323c !important;

  font-weight: 700 !important;
  padding: 8px 16px !important;
}

.react-bootstrap-table {
  border-radius: 8px;
  overflow: hidden;

  border: 1px solid #6C757D;
}

.custom-table td {
  vertical-align: middle;
  padding: 12px 12px !important;
}

.react-bootstrap-table table {
  margin-bottom: 0px;
}

.icon-button {
  background-color: transparent !important;
  border: none !important;
}

.table-title {
  font-weight: 700 !important;
}

.custom-pill {
  display: inline-block;
  border-radius: 16px !important;
  border: 2px solid !important;
  font-weight: 500 !important;
}