.ps-sidebar-container {
  border-radius: 0px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.css-1wvake5 {
  border-right-width: 0px !important;

  width: auto !important;
  min-width: 100% !important;
}

.ps-menu-button {
  color: white !important;
  font-weight: 600;
  font-size: 16px !important;

  transition: all 0.2s ease-in-out;
}

.ps-menu-button:hover {
  background-color: #c5c8cb20 !important;
}

.sidebar-brand {
  border-radius: 30px / 15px;
}
