.ps-sidebar-container {
  border-radius: 0px;
  border: 0px solid #c5ccce;

  background-color: #171717 !important;
}

.css-1wvake5 {
  border-radius: 8px !important;
}

.ps-menu-button {
  color: white !important;
  font-weight: 600;
  font-size: 16px !important;

  transition: all 0.2s ease-in-out;
}

.ps-menu-button:hover {
  background-color: #c5c8cb50 !important;
}

.sidebar-brand {
  border-radius: 8px;
}

.sidebar-drawer-icon {
  position: absolute;
  bottom: 18px;
  margin-left: 18px;
}