.custom-header th {
  background-color: #fff !important;
  color: #19323c !important;

  font-weight: 700 !important;
  padding: 8px 16px !important;
}

.react-bootstrap-table {
  border-radius: 16px;
  overflow: hidden;

  border: 1px solid #c5ccce;
}

.custom-table td {
  vertical-align: middle;
  padding: 12px 12px !important;
}

.react-bootstrap-table table {
  margin-bottom: 0px;
}

.icon-button {
  background-color: transparent !important;
  border: none !important;
}

.table-title {
  font-weight: 600;
}
