.searchbar {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

  background-color: #f0f0f0 !important;
  border: none !important;
  border-left: none !important;
}

.notification-icon:hover {
  cursor: pointer;
}

.searchbar-bg {
  background-color: transparent !important;
}

.rounded-button {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;

  background-color: #f0f0f0 !important;
  border: none !important;
  border-right: none !important;
}

.rounded-button:hover {
  background-color: #0d6efd !important;
}

.profile-picture:hover {
  cursor: pointer;
}

.profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.initials {
  color: white;
  font-weight: bold;
}
