$theme-colors: (
  "primary": #171717,
  "secondary": #d2d2d2,
  "danger": #b72530,
);

$btn-font-weight: 500;

.btn-primary-outline {
  border: 1px solid #171717 !important;
}

.btn-primary:hover {
  background-color: #444 !important;
}

.modal-dialog h4 {
  font-weight: 700;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
